.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  min-height: $header-height;
  padding-left: 50px;
  border-bottom: 1px solid $border-color-1;

  &__button-corner {
    border-bottom-left-radius: 18px;
    min-width: 180px;
    display: inline-block;
  }

  &__button-bottom-radius {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: inline-block;
    margin-right: 20px;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
  }

  &__nav-item {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__nav-link {
    color: $primary-color;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
  }

  &__button {
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    height: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 60px;
    text-transform: uppercase;
  }

  &__button-icon {
    margin-right: 5px;

    svg {
      height: 14px;
    }
  }

  &__button-text {
    line-height: 10px;
  }

  @include media('mobile') {
    padding-right: 10px;
    padding-left: 10px;
    flex-wrap: wrap;

    &__button {
      margin-left: 0;
    }
  }
}