.service {

  &__header {
    background-color: $primary-color;
    color: white;
    padding: 50px;
    text-align: center;
  }

  &__content {
    padding: 50px;
    p {
      margin-bottom: 20px;
    }

    img {
      width: 500px;
      max-width: 100%;
    }
    
    iframe {
      max-width: 100%;
    }
  }
}