.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - $header-height);
  padding-bottom: 150px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding-left: 5%;

  &__text {
    text-align: left;
    margin-bottom: 30px;

    background: linear-gradient(90deg, #520096 17.78%, #5ABCD6 59.99%, #5ABCD6 87.46%, #9747FF 110.26%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-weight: 700;
font-size: 60px;
line-height: 58px;

    span {
      font-style: italic;
      font-weight: normal;
    }
  }

  &__button {
    background-color: $primary-color;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), inset -1px 4px 17px -2px rgba(250, 253, 255, 0.8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    border-radius: 22px;
    color: white;
    padding-right: 60px;
    padding-left: 60px;
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &__content {
    z-index: 20;
    min-width: 500px;
  }

  &__columns {
    display: flex;
    align-items: center;
  }

  &__column {
    width: 50%;
    position: relative;
  }

  &__eddy-image {
    z-index: 2;
    position: relative;
    display: inline-block;

    img {
      z-index: 2;
      position: relative;
    }
  }

  &__eddy-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(81.62% 83.19% at 50% 50.96%, rgba(255, 164, 57, 0.56) 0%, rgba(255, 241, 222, 0.56) 62.29%, rgba(235, 246, 253, 0.56) 100%);
    filter: blur(48px);
    z-index: 1;
  }
  

  @include media('mobile') {
    padding-right: 0;
    padding-left: 10px;

    &__content {
      min-width: 100%;
    }
  }
}