.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: calc(100vh - 62px);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  background-color: #8ee4fc;
  padding-right: 100px;
  padding-bottom: 50px;
  box-sizing: border-box;

  &__text {
    text-align: right;
    font-size: 40px;
    color: $secondary-color;
    margin-bottom: 30px;

    span {
      font-style: italic;
      font-weight: normal;
    }
  }

  &__button {
    background-color: white;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    border-radius: 20px;
    padding: 20px 60px;
    text-decoration: none;
    font-size: 24px;
  }
}