.sidebar {
  width: $sidebar-width;
  background-color: $bg-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    padding-top: 20px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  @include media('mobile') {
    //width: $small-sidebar-size;
  }

  &__divider {
    border-bottom: 1px solid $border-color-1;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 35px;
    
    &:hover {
      opacity: 0.8;
    }
  }

}