.button-sidebar {
  height: 50px;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 16px;
  padding-left: 20%;
  box-sizing: border-box;

  &__text {
    display: inline-block;
    margin-bottom: 2px;
    margin-left: 10px;
  }

  &__icon {
    svg {
      width: 20px;
      
      path {
        stroke: $color-primary;
      }
    }
  }

  &:hover {
    color: $color-primary-hover;
    background-color: transparentize($color-primary-hover, 0.9);

    .button-sidebar {
      &__icon {
        svg {
          path {
            stroke: $color-primary-hover;
          }
        }
      }
    }
  }
}