.logo {
  background-color: $color-secondary;
  width: 100%;
  height: $header-height;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;

  span {
    padding-left: 10px;
    font-size: 20px;
  }

  svg {
    width: 60px;
    height: auto;
  }
}